@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* outline: 2px solid rgb(16, 39, 192) !important; */
}
html {
  scroll-behavior: smooth;
}

#nav-menu {
  backdrop-filter: blur(20px);
}
.profile {
  box-shadow: inset 0 0 0 9px rgb(255 255 255/30%);
  /* box-shadow: inset 10 10 10 15px rgba(49, 46, 46, 0.669); */
  animation: profile_animate 8s ease-in-out infinite 1s;

  border: 0.5rem solid rgba(55, 51, 51, 0.349);
  background-color: rgba(54, 214, 254, 0.434);
  /* background-color: rgba(15, 16, 16, 0.82); */
}

.about-anime {
  box-shadow: inset 0 0 0 9px rgb(255 255 255/30%);
  animation: about_animate 6s ease-in-out infinite 1s;
  /* background: rgb(246, 246, 246); */
  /* background: linear-gradient(
    319deg,
    rgba(246, 246, 246, 1) 8%,
    rgba(45, 241, 220, 0.7484243697478992) 73%
  ); */
  background-color: rgba(54, 214, 254, 0.434);
}
.about-shadow {
  -webkit-box-shadow: 0px 0px 35px 0px rgba(136, 179, 178, 1);
  -moz-box-shadow: 0px 0px 35px 0px rgba(136, 179, 178, 1);
  box-shadow: 0px 0px 35px 0px rgba(136, 179, 178, 1);
}
.info-shadow {
  -webkit-box-shadow: inset 0px 0px 35px 0px rgba(162, 189, 188, 1);
  -moz-box-shadow: inset 0px 0px 35px 0px rgba(162, 189, 188, 1);
  box-shadow: inset 0px 0px 35px 0px rgba(162, 189, 188, 1);
}
.icon-shadow:hover {
  transform: scale(1.1, 1.1);
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
@keyframes about_animate {
  0% {
    border-radius: 20% 20% 15% 30%/30% 10% 20% 15%;
  }
  50% {
    border-radius: 10% 30% 30% 20%/25% 20% 15% 30%;
  }
  100% {
    border-radius: 20% 20% 15% 30%/30% 10% 20% 15%;
  }
}
